<% layout("/layouts/bolierplate")%>

    <body>
        <div class="row mb-3">
            <div class="col-8 offset-2">
                <h2>Create a New Listing </h2>
                <form action="/listings" method="post" novalidate class="needs-validation" enctype="multipart/form-data">

                    <div class="mb-3">
                        <label for="title" class="form-label">Title</label>
                        <input type="text" name="listing[title]" id="title" class="form-control"
                            placeholder="Enter Title Of Your Listing" required>
                        <div class="invalid-feedback">Enter a Valid Title</div>
                    </div>

                    <div class="mb-3">
                        <label for="description" class="form-label">Description</label>
                        <input type="text" name="listing[description]" id="description" class="form-control"
                            placeholder="Enter description" required>
                        <div class="invalid-feedback">Enter a Valid Description</div>
                    </div>

                    <div class="mb-3">
                        <label for="image" class="form-label">Image Link</label>
                        <input type="file" name="listing[image]" id="image" class="form-control">
                    </div>

                    <div class="row">
                        <div class="mb-3 col-md-4">
                            <label for="price" class="form-label"> Price</label>
                            <input type="number" name="listing[price]" id="price" class="form-control"
                                placeholder="Enter price" required>
                            <div class="invalid-feedback">Enter a Valid Price</div>
                        </div>

                        <div class="mb-3 col-md-8">
                            <label for="country" class="form-label">Country</label>
                            <input type="text" name="listing[country]" id="country" class="form-control"
                                placeholder="Enter country" required>
                            <div class="invalid-feedback">Enter a Valid Country</div>
                        </div>
                    </div>


                    <div class="mb-3">
                        <label for="location" class="form-label">Location</label>
                        <input type="text" name="listing[location]" id="location" class="form-control"
                            placeholder="Enter location" required>
                        <div class="invalid-feedback">Enter a Valid Location</div>
                    </div>




                    <button class="btn btn-dark add-button">List</button>
                </form>
            </div>
        </div>
    </body>